<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
</head>
<body>
    <div class="header">

        <h2>Organización de Entrenadores</h2>

    </div>

    <div class="container">

        <label for="monthInput">Mes:</label>
        <!--<button type="button" class="btn btn-outline-primary bi bi-plus-lg" (click)="aniadirEvento()">pala </button>-->
        <button type="button" class="btn btn-outline-primary bi bi-plus-lg" (click)="guardarEvento()">Añadir evento</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-primary bi bi-search" (click)="obtenerEvento()">Obtener evento</button>
        <br>
        <div class="calendario">
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="onNavigate($event)" />
                        <hr />

                        <button class="btn btn-sm btn-outline-primary me-2" (click)="model = today">Select Today</button>
                        <button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo()">To current month</button>
                        <button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo({ year: 2013, month: 2 })"
                          >To Feb 2013</button
                        >

                        <hr />

                        <pre>Month: {{ date.month }}.{{ date.year }}</pre>
                        <pre>Model: {{ model | json }}</pre>
        </div>
    </div>
    <div class="container">

        <div class="container" *ngIf="isEntrenador()">
            <div *ngFor="let evento of calendario">
            <div class="card" *ngIf="eventosDelDia(evento)"> 
                <div class="start-date">{{ evento.inicio }}</div>

                <div class="info">
                    <h2>{{ evento.nombre }}</h2>
                    <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
                    <p><strong>Observaciones:</strong> {{ evento.observaciones }}</p>
                    <p><strong>Lugar:</strong> {{ evento.lugar }}</p>
                    <p><strong>Duración (minutos):</strong> {{ evento.duracionMinutos }}</p>

                    <p><strong>Regla de Recurrencia:</strong> {{ evento.reglaRecurrencia }}</p>

                    <p><strong>ID Cliente:</strong> {{ evento.idCliente }}</p>

                    <p><strong>ID:</strong> {{ evento.id }}</p>

                    <button type="button" class="btn btn-outline-primary" (click)="editarEvento(evento.id, evento.idCliente)">Editar</button>
                    <button type="button" class="btn btn-outline-primary" (click)="eliminarEvento(evento.id)">Eliminar</button>

                    </div>
                </div>

            </div>
        
        </div>

        <div class="container" *ngIf="!isEntrenador()">
            <div class="card" *ngFor="let evento of calendario"> 
                <div *ngIf="eventoDelCliente(evento)">
                <div class="start-date">{{ evento.inicio }}</div>
                <div class="info">
                    <h2>{{ evento.nombre }}</h2>

                    <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>

                    <p><strong>Observaciones:</strong> {{ evento.observaciones }}</p>

                    <p><strong>Lugar:</strong> {{ evento.lugar }}</p>

                    <p><strong>Duración (minutos):</strong> {{ evento.duracionMinutos }}</p>

                    <p><strong>Regla de Recurrencia:</strong> {{ evento.reglaRecurrencia }}</p>

                    <p><strong>ID Cliente:</strong> {{ evento.idCliente }}</p>

                    <p><strong>ID:</strong> {{ evento.id }}</p>

                </div>
                </div>
                <button type="button" class="btn btn-outline-primary" (click)="editarEvento(evento.id, evento.idCliente)">Editar</button>
                <button type="button" class="btn btn-outline-primary" (click)="eliminarEvento(evento.id)">Eliminar</button>
            </div>
        </div>

    </div>