<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}} evento</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">

        <label for="nombre">Nombre:</label>
        <input class="form-control" id="nombre" [(ngModel)]="evento.nombre" placeholder="nombre">
        <label for="apellidos">Descripción:</label>
        <input class="form-control" id="descripcion" [(ngModel)]="evento.descripcion" placeholder="descripcion">
        <label for="observaciones">Observaciones:</label>
        <input class="form-control" id="observaciones" [(ngModel)]="evento.observaciones" placeholder="observaciones">
        <label for="lugar">Lugar:</label>
        <input class="form-control" id="lugar" [(ngModel)]="evento.lugar" placeholder="lugar">
        <label for="duracionMinutos">Duración (minutos):</label>
        <input class="form-control" id="duracionMinutos" [(ngModel)]="evento.duracionMinutos" placeholder="duracion">
        <label for="inicio">Inicio:</label>
        <input class="form-control" id="inicio" [(ngModel)]="evento.inicio" placeholder="inicio">
        <label for="reglaRecurrencia">Recurrencia:</label>
        <input class="form-control" id="reglaRecurrencia" [(ngModel)]="evento.reglaRecurrencia" placeholder="Recurrencia">
        <label for="idCliente">Cliente:</label>
        <input class="form-control" id="idCliente" [(ngModel)]="evento.idCliente" placeholder="idCliente">
        <label for="id">Id:</label>
        <input class="form-control" id="id" [(ngModel)]="evento.id" placeholder="id">

  
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardarEvento()">Guardar</button>
  </div>