<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{accion}} evento</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">

      <label for="nombre">Nombre:</label>
      <input class="form-control" id="nombre" [(ngModel)]="evento.nombre" placeholder="nombre">
      <label for="apellidos">Descripción:</label>
      <input class="form-control" id="descripcion" [(ngModel)]="evento.descripcion" placeholder="descripcion">
      <label for="observaciones">Observaciones:</label>
      <input class="form-control" id="observaciones" [(ngModel)]="evento.observaciones" placeholder="observaciones">
      <label for="lugar">Lugar:</label>
      <input class="form-control" id="lugar" [(ngModel)]="evento.lugar" placeholder="lugar">
      <label for="duracionMinutos">Duración (minutos):</label>
      <input class="form-control" id="duracionMinutos" [(ngModel)]="evento.duracionMinutos" placeholder="duracion">

      <label for="hora">Inicio:</label>
      <select id="hora" class="form-control" [(ngModel)]="evento.inicio" name="inicio">
        <option value="">Selecciona una hora...</option>
        <option *ngFor="let hora of horasDisponibles" [value]="hora">{{ hora }}</option>
      </select>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="guardarEvento()">Guardar</button>
</div>