<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}} hueco</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="fecha">Fecha:</label>
        <p>{{hueco.fecha}}</p>
        <label for="hora">Inicio:</label>
        <select id="hora" class="form-control" [(ngModel)]="hueco.inicio" name="inicio">
          <option value="">Selecciona una hora...</option>
          <option *ngFor="let hora of horas" [value]="hora">{{ hora }}</option>
        </select>

        <label for="duracionMinutos">Duración (minutos):</label>
        <input class="form-control" id="duracionMinutos" [(ngModel)]="hueco.duracionMinutos" placeholder="duracion">

        <label for="reglaRecurrencia">Recurrencia:</label>
        <select id="reglaRecurrencia" class="form-control" [(ngModel)]="hueco.reglaRecurrencia" name="reglaRecurrencia">
          <option value="">Selecciona una recurrencia...</option>
          <option value="Diaria">Diaria</option>
          <option value="Semanal">Semanal</option>
          <option value="Mensual">Mensual</option>
        </select>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardarHueco()">Guardar</button>
  </div>